
/*-------------- слайдер -----------------*/
/*__________стрелки______________*/
/*.slick-next:before,*/
/*.slick-prev:before {*/
/*  color: transparent !important;*/
/*}*/
/*.slick-next,*/
/*.slick-prev {*/
/*  border: solid rgb(255, 255, 255);*/
/*  width: 18px;*/
/*  height: 18px;*/
/*  top:calc(50% - 14px);*/
/*  border-width: 0 4px 4px 0;*/
/*  display: inline-block;*/
/*  padding: 3px;*/
/*  z-index: 2;*/
/*}*/

/*.slick-prev {*/
/*  transform: rotate(135deg);*/
/*  left: -12px ;*/
/*}*/

/*.slick-next {*/
/*  right: -12px ;*/
/*  transform: rotate(-45deg);*/
/*}*/
/*!*_____________________________________________________*!*/

.assortment__item {
  /*padding: 71px 14.5px 80px;*/
  margin: 71px 14.5px 80px;
  border-width: 2px;
  border-color: rgb(255, 255, 255);
  border-style: solid;
  border-radius: 20px;
  position: relative;
  width: 263px;
  height: 229px;
  display: grid!important;
  grid-template-rows: 50% 2fr repeat(2,1fr);
  grid-template-areas:
    "img img"
    "name name"
    "count btn"
    "price btn";
  padding: 0 21px 27px;
  box-sizing: border-box;
}

.assortment__item:hover .assortment__item-img {
  transform: scale(1.1);
}

.assortment__item-img img {
  display: inline;
  max-height: 130px;
  max-width: 195px;
}

.assortment__item-img {
  text-align: center;
  grid-area: img;
  margin-top: -62px;
  transition: all 0.5s ease;
}

.assortment__item-name {
  grid-area: name;
  font-weight: 400;
  font-size: 18px;
  color: rgb(255, 255, 255);
  text-align: center;
}

.assortment__item-count {
  grid-area: count;
  font-size: 15px;
  font-family: gilroy-regular, sans-serif;
  color: rgb(255, 255, 255);
  text-align: left;
  line-height: 1.27;
}

.assortment__item-price {
  grid-area: price;
  font-size: 15px;
  font-family: gilroy-regular, sans-serif;
  color: rgb(255, 255, 255);
  text-align: left;
}

.assortment__btn {
  grid-area: btn;
  width: 130px;
  height: 50px;
  border-radius: 25px;
  font-size: 16px;
  font-family: gilroy-bold, sans-serif;
  color: rgb(255, 255, 255);

}
@media screen and (max-width: 1174px){
  .assortment__item:last-child {
    grid-column: 2;
    grid-row: 2;
  }
}
@media screen and (max-width: 620px) {
  .assortment__item-price {
    font-size: 15px;
  }
  .assortment__item:last-child {
    grid-column: unset;
    grid-row: unset;
  }
}
@media screen and (max-width: 374px) {
.assortment__item {
  margin-bottom: 0;
  width: 240px;
}

}
