@media screen and (max-width: 1199px){
    .assortment__container{
        max-width: 879px;
    }
}
@media screen and (max-width: 1174px){
    .welcome img, .about img {
        width: 100%;
    }

    .main {
        padding: 38px 0 0;
    }

    .welcome__container {
        grid-template-columns: 50% 50%;
    }
}

@media screen and (max-width: 1023px) {
    .header__contacts {
        display: none;
    }

  .nav {
        margin: 0 auto;
        padding-right: 57px;
    }

    .welcome__container {
        display: grid;
        grid-template-areas:
"welcome-name welcome-name"
"welcome-info welcome-info"
"welcome-btn welcome-img";
    }

    .welcome {
        position: relative;
        padding: 0;
    }

    .welcome__img {
        position: absolute;
        bottom: 62px;
        right: 55px;
    }

    .welcome__name {
        font-size: 55px;
    }

    .welcome__name {
        padding: 97px 0 74px;
    }

    .welcome__btn {
        margin: 41px 0 420px;
    }

    .order {
        padding: 120px 0;
    }

    .order__input {
        margin-bottom: 15px;
    }

    .order__set {
        width: 370px;
        margin-right: 20px;
        align-items: end;
        position: absolute;
        bottom: -120px;
        right: 0;
        z-index: -1;

    }

    .order__img {
        grid-column: 2;
        grid-row: 1;

    }

    .order__form {
        grid-row: 1;
        grid-column: 1;

    }

    .order__anim-top {
        top: 38%;
        left: 47%;

    }

    .order__anim-bottom {

        top: 98px;
        left: 82%;
    }
}

@media screen and (max-width: 928px) {
  .assortment__container{
    max-width: 585px;
  }
}

@media screen and (max-width: 767px) {
    .main {
        padding-top: 34px;
        position: relative;
    }

    .welcome__img {
        width: 69%;
    }

    .nav {
        padding: 0
    }
}

@media screen and (max-width: 650px) {
    .order__set {
        display: none;
    }

    .order__anim-top {
        top: 110px;
        left: 75%;
    }

    .order__anim-bottom {
        display: none;
    }
}

@media screen and (max-width: 635px) {
    .assortment__container{
        width: 293px;
    }
}

@media screen and (max-width: 620px) {


  .header__burger {
    display: block;
  }

  .open {
    display: flex;

  }

  .nav__close {
    display: block;
    width: 24px;
    height: 24px;
    fill: #ec9292;
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 5;

  }




  .welcome__container {
    display: inline-block;
    text-align: center;
    justify-items: center;
  }

  .welcome__img {
    position: unset;
    padding: 38px 40px;
    right: 0;
    bottom: 5px;
  }

  .welcome__btn {
    margin-bottom: 0;
  }

  .welcome__img:before, .welcome__img:after {
    width: 200px;
    height: 200px;
  }

  .welcome__name {
    padding: 92px 0 40px;
  }

  .welcome__info, .welcome__name {
    text-align: center;

  }

  .welcome__name, .welcome__name span {
    font-size: 32px;
    white-space: none;
    line-height: 40px;

  }

  .welcome__info, .about__text, .order__info {
    font-size: 16px;
  }

  .assortment__name{
    margin-bottom: 50px;
  }

  .nav {
    display: none;
  }
   .assortment {
    padding: 100px 0 20px;
  }

  .order {
    padding: 100px 0 77px;
  }

  .order__container {
    display: inline-block;
    text-align: center;
  }
  .order__name {
    font-size: 30px;
  }
  .order__name, .order__info {
    text-align: left;
  }

  .order__form {
    text-align: left;

  }

  .order__input, .order__btn {
    width: 100%;
    max-width: 375px;
  }


  .order__info {
    width: 70%;
  }


  .footer {
    padding: 50px 0;
  }

  .footer__container {
    display: grid;
    grid-template-areas:
    "logo"
        "tel"
        "insta"
        "text";
    justify-items: center;
    row-gap: 40px;
  }


}

@media screen and (max-width: 500px) {


    .order__info {
        width: 80%;
    }

    .order__anim-top {
        width: 72px;

    }

}

@media screen and (max-width: 389px) {
    .order__anim-top {
        top: 131px;
    }

    .order__info {
        width: 100%;
    }

}

@media screen and (max-width: 374px) {
    .order__anim-top {
        display: none;
    }


    .welcome__info {
        width: 80%;
        max-width: 375px;
    }

    .welcome__name, .welcome__name span {
        font-size: 28px;
        line-height: 35px;
    }

    .welcome__name {
        padding: 40px 0 20px;
    }

    .welcome__btn {
        margin-top: 20px;
    }

    .welcome__img {
        padding: 30px;
    }

    .about, .assortment, .order {

        padding: 25px 0
    }

    .about__name, .assortment__name {
        font-size: 26px
    }

    .about__container {
        row-gap: 20px
    }

    .about__advantage-name {
        font-size: 16px
    }

    .about__text {
        font-size: 14px;
        line-height: 18px
    }

    .about__advantage-num {
        font-size: 40px;
        width: 50px;
        height: 50px
    }

    .about__advantage-name {
        font-size: 14px;
        margin-bottom: 15px
    }

    .about__advantages {
        row-gap: 15px;
        padding: 0 10px
    }

    .about__advantage-info {
        font-size: 12px
    }

    .assortment__name {
        margin-bottom: 20px
    }



    .assortment__items {
        row-gap: 20px
    }

    .order__name, .order__info, .order__form-name {
        text-align: center;
    }

    .order__info {
        font-size: 15px;
        line-height: 18px;
        margin: 20px 0 20px;
    }

    .order__form-name {
        margin-top: 0
    }

    .order__anim-bottom {
        top: 112px
    }

    .footer {
        padding: 30px 0;
    }

    .footer__container {
        row-gap: 15px
    }

       .present__ellipse {
        width: 75px;
    }
    .present,.present:hover .present__img {
             width: 75px;
        height: 75px;
           }

    .cart__img-img {
        width: 40px;
        height: 40px;
    }
    .present__info{
        width: 153px;
        font-size: 13px;
    }
    .present__info:after{
        left: 147px;
    }
    .present__info:before{
        left: 150px;
    }
    .present__message{
        left: -170px;
        bottom: -100px;
    }

    .assortment__container{
        width: 260px;
    }
    .slick-next,
    .slick-prev {
    top: 60%;
}
}
